# Mobile device usage and user behaviour of that device

This is a self project i have taken on where i am looking into mobile device usage and user behaviours with each device this will include number of applications that they have installed on their device or what amount of time each user spends on each of their respected devices.

The dataset has been retrived from kaggle with the web address below:
https://www.kaggle.com/datasets/valakhorasani/mobile-device-usage-and-user-behavior-dataset?resource=download

Importation of the dataset and being desplayed with the data being broken down under different headings.

In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset_filename = 'user_behavior_dataset.csv'

In [3]:
data_set = pd.read_csv(dataset_filename, index_col = 0)

In [4]:
data_set

,Device Model,Operating System,App Usage Time (min/day),Screen On Time (hours/day),Battery Drain (mAh/day),Number of Apps Installed,Data Usage (MB/day),Age,Gender,User Behavior Class
User ID,,,,,,,,,,
1,Google Pixel 5,Android,393,6.4,1872,67,1122,40,Male,4
2,OnePlus 9,Android,268,4.7,1331,42,944,47,Female,3
3,Xiaomi Mi 11,Android,154,4.0,761,32,322,42,Male,2
4,Google Pixel 5,Android,239,4.8,1676,56,871,20,Male,3
5,iPhone 12,iOS,187,4.3,1367,58,988,31,Female,3
...,...,...,...,...,...,...,...,...,...,...
696,iPhone 12,iOS,92,3.9,1082,26,381,22,Male,2
697,Xiaomi Mi 11,Android,316,6.8,1965,68,1201,59,Male,4
698,Google Pixel 5,Android,99,3.1,942,22,457,50,Female,2
699,Samsung Galaxy S21,Android,62,1.7,431,13,224,44,Male,1
700,OnePlus 9,Android,212,5.4,1306,49,828,23,Female,3

In [5]:
data_set.dtypes
#Print out the different tyoes of data for each column head

Device Model                   object
Operating System               object
App Usage Time (min/day)        int64
Screen On Time (hours/day)    float64
Battery Drain (mAh/day)         int64
Number of Apps Installed        int64
Data Usage (MB/day)             int64
Age                             int64
Gender                         object
User Behavior Class             int64
dtype: object

In [6]:
data_set.iloc[2]
#Printing out data for the third row within the dataset so we can view the different information within it

Device Model                  Xiaomi Mi 11
Operating System                   Android
App Usage Time (min/day)               154
Screen On Time (hours/day)             4.0
Battery Drain (mAh/day)                761
Number of Apps Installed                32
Data Usage (MB/day)                    322
Age                                     42
Gender                                Male
User Behavior Class                      2
Name: 3, dtype: object

In [7]:
data_set.iloc[:, [0,1]]
#printing out the device models and their operating systems

               Device Model Operating System
User ID
1            Google Pixel 5          Android
2                 OnePlus 9          Android
3              Xiaomi Mi 11          Android
4            Google Pixel 5          Android
5                 iPhone 12              iOS
...                     ...              ...
696               iPhone 12              iOS
697            Xiaomi Mi 11          Android
698          Google Pixel 5          Android
699      Samsung Galaxy S21          Android
700               OnePlus 9          Android

[700 rows x 2 columns]

In [8]:
data_set.iloc[:,[0,2,3]]
#printing out the device models and different app usage time in minutes per day and screen time spent on 
#their phones daily

,Device Model,App Usage Time (min/day),Screen On Time (hours/day)
User ID,,,
1,Google Pixel 5,393,6.4
2,OnePlus 9,268,4.7
3,Xiaomi Mi 11,154,4.0
4,Google Pixel 5,239,4.8
5,iPhone 12,187,4.3
...,...,...,...
696,iPhone 12,92,3.9
697,Xiaomi Mi 11,316,6.8
698,Google Pixel 5,99,3.1
699,Samsung Galaxy S21,62,1.7
700,OnePlus 9,212,5.4

In [9]:
opersys = data_set['Operating System'].value_counts()
#New variable created to display different number of operating systems used on phones

In [10]:
opersys
#printing the number of operating systems

Operating System
Android    554
iOS        146
Name: count, dtype: int64

In [11]:
opersys / len(data_set)* 100
#percentage of each operating system used

Operating System
Android    79.142857
iOS        20.857143
Name: count, dtype: float64

In [12]:
male_data = data_set[data_set['Gender']== 'Male']
#Male variable created to view male device users

In [13]:
opersysMale = male_data['Operating System'].value_counts()
#print out the male users operating systems which is stored in a new variable

In [14]:
opersysMale

Operating System
Android    292
iOS         72
Name: count, dtype: int64

In [15]:
opersysMale / len(data_set)* 100
#Percentage of each male user using a specific operating system

Operating System
Android    41.714286
iOS        10.285714
Name: count, dtype: float64

In [16]:
female_data = data_set[data_set['Gender']== 'Female']
#Female variable created to view female device users

In [17]:
opersysFemale = female_data['Operating System'].value_counts()
#print out the female users operating systems which is stored in a new variable

In [18]:
opersysFemale

Operating System
Android    262
iOS         74
Name: count, dtype: int64

In [19]:
opersysFemale / len(data_set)* 100
#Percentage of each female user using a specific operating system

Operating System
Android    37.428571
iOS        10.571429
Name: count, dtype: float64